<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
</head>
<body>

<h1> Which marvel character are you?</h1>

<legend>Which school subject do you prefer?</legend>
<form method="POST" action="/results">
  <input type="radio" id="Science" name="Subject" value="Science">
  <label for="Science">Science</label><br>
  <input type="radio" id="English" name="Subject" value="English">
  <label for="English">English</label><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>

